.window {  
	text-align: center;
	margin: 2% 6% 2% 6%;
} 

.window__header{
	position: absolute;
}

.block{
	margin: 0 auto;
    display: inline-block;
}

.inputs{
	display: block !important;
    justify-content: center;
	margin-top: 8%;
    width: 71px;
	height: 100px;
}

.inputsBox{
	display: inline-flex !important;
	margin-bottom: 9%;
	margin-left: 50%;
}

.inputsBox__paragraph{
	margin: 0 0 0 25px !important;
	position: relative;
}

.inputsBox__valueInput{
	position: relative;
	display: inline-block;
	width: 43px;
	height: 20px;
}

.inputsBox__valueInput_style{
	border-radius:34px;
	border: 2px solid #ccc;
	outline: none;
	padding-left: 3px;
}

.inputsLabel {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 20px;
}

.inputsLabel input { 
	display:none;
	}

.inputsLabel__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inputsLabel__slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 7px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .inputsLabel__slider {
  background-color: #88f321;
}

input:checked + .inputsLabel__slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.inputsLabel__slider_round {
	border-radius: 34px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.inputsLabel__slider_round:before {
  border-radius: 50%;
}

.circleBlock {
	position: relative;
	margin-top: 121px;
	width: 184px;
    height: 184px;
    border-radius: 50%;
    transform: rotate(270deg);
	background-color: #ccc;
} 

.circleBlock:after { 
	position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
	left: 4px;
    top: 4px;
    border-radius: 50%;
    content: "";
    background-color: white;
    padding: 88px;
} 

.circleBlock__svg { 
	width: 100%; 
	height: 100%; 
} 

.circleBlock_animation { 
	stroke-width: 4px; 
	transition: stroke-dashoffset 1s linear;
} 

.circleBlock__svg_animation {
	animation: spin 2s infinite linear;
}

.circleBlock__progress-circle { 
fill: transparent; 
stroke-dashoffset: 565.48668px; 
stroke-dasharray: 565.48668px; 
} 

.hidden {
	visibility:hidden;
}

@media (max-width: 1024px) and (orientation: landscape) {
	
	.block {
		display: flex;
		justify-content: center;
	}
	.circleBlock { 
		margin-top: 14%
	}
	.inputs {
		margin-top:20%;
	}
	
	.inputsBox__paragraph {
	margin: unset !important;
	}
}

@keyframes spin {
    from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
