*{
	font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    color: #545454;
}
body {
	margin: 10% 25% 10% 15%;
}
.inline {
	display: inline-block;
}

.arrowDiv__element {
	text-align: center;
	display: inline-block;
}

.math {
	margin-left: 35%;
}

input {
	width: 30px;
    display: block;
   	margin: 0 auto;
}